body{
    margin:0;
    background-color: rgb(252, 216, 170);
}

a{
    text-decoration: none;
    color : whitesmoke;
}

.top-banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #263343;
    padding: 8px 12px
}
.site-name{
    color:#d37c3e
}